table,
th,
td {
  border: 1px solid;
  /*background-color: aqua;*/
}

table {
  /*max-width: 60%;
  /*background-color: aqua;*/
}

td {
  vertical-align: middle;
}
.image-container {
  align: right;
  height: 235px;
  /*width: 50%;*/
  float: right;
}

img {
  height: 100%;
  /*width: 15%;*/
}

.responsive-img-fill {
  object-fit: fill;
}

.hlavicka {
  display: block;
  vertical-align: middle;
  /*padding-top: 1rem;*/
}

.sloupec2 {
  vertical-align: middle;
}

.sloupec1 {
  /* border: 1px solid;*/
}

.sloupec2 {
  /*border: 1px solid;*/
}

.black {
  background-color: rgb(181, 155, 155);
}

.lichy {
  background-color: aqua;
}
.sudy {
  background-color: aquamarine;
}

.lichy_skola {
  background-color: rgb(236, 108, 16);
}

.sudy_skola {
  background-color: rgb(234, 156, 100);
}

.lichy_dovednosti {
  background-color: rgb(6, 248, 6);
}

.sudy_dovednosti {
  background-color: greenyellow;
}

.python {
  /*display: block;*/
  border-bottom: none;
}

.CZV {
  /*display: block;*/
  border-bottom: none;
  /*line-height: 1rem;*/
}

.CZV_nadpis {
  line-height: 1rem;
}

.BC {
  /*display: block;*/
  border-bottom: none;
  /*line-height: 30px;*/
}

.tedom {
  /*display: block;*/
  border-bottom: none;
}

.continental {
  /*display: block;*/
  border-bottom: none;
}

.ZF {
  display: block;
  border-bottom: none;
  vertical-align: middle;
}

.UJV {
  display: block;
  border-bottom: none;
}

.Mycroft {
  display: block;
  border-bottom: none;
}

.Garrett {
  display: block;
  border-bottom: none;
}

.mgr {
  /*display: block;*/
  border-bottom: none;
}

.ZF {
  @media (max-width: 1080px) {
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
  }
}

.continental {
  @media (max-width: 1080px) {
    font-size: 0.73rem;
  }
}

.Siemens {
  @media (max-width: 1080px) {
    font-size: 0.73rem;
  }
}

.tedom {
  @media (max-width: 1080px) {
    font-size: 0.73rem;
  }
}

.hlavicka {
  @media (max-width: 1080px) {
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.mgr {
  @media (max-width: 1080px) {
    font-size: 0.8rem;
  }
}

.BC {
  @media (max-width: 1080px) {
    font-size: 0.8rem;
  }
}

.GML {
  @media (max-width: 1080px) {
    /*font-size: 1rem;*/
    line-height: 1rem;
  }
}

.frontend {
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.python {
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.CZV {
  @media (max-width: 1080px) {
    font-size: 0.8rem;
  }
}

.jazyky {
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.odborne_dovednosti {
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.IT_dovednosti {
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.certifikaty {
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.hlavicka_nadpis {
  @media (max-width: 1080px) {
    line-height: 1rem;
    /*padding-top: 0rem;*/
  }
}
